<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDaJogada">
  <!-- objeto ou atributo da class PAINEL com o evento (fimDeJogo)  |  metado da class APP fimDeJogo($event)-->
  <app-painel (encerrarJogo)="fimDeJogo($event)"></app-painel>

</div>


<ng-template #fimDaJogada>
  <!--
      <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogadaSucesso " class="container text-center"
    style="margin-top: 80px;">
-->
  <div class="container text-center" style="margin-top: 80px;">
    <div class="row">
      <div class="col">
        <h3 class="text-{{classTextMsg}}"> {{messageFimDeJogo}}</h3>
        <h4 class="text-{{classTextMsg}}"> {{subMessageFimDeJogo}}.</h4>
      </div>
    </div>
    <div class="row mt-4">
      <img src=" {{urlImgFimDeJogo}} " class="img-fluid mx-auto d-block" alt="Você perdeu.">
    </div>

    <div class="d-flex justify-content-center" style="margin-top: 50px;">
      <button class="btn btn-primary btn-lg btn-block" (click)="reinicarJogo()">Jogar novamente</button>
    </div>
  </div>
</ng-template>

<ng-template #fimDeJogadaSucesso>
  <div class="container text-center mx-5" >

    <div class="row">
      <div class="col">
        <h3 class="text-succes"> Acertou todas as Frases</h3>
      </div>
    </div>

  </div>
</ng-template>
